.navbar{
    background-color: bisque;
    color: white;
    height: 8vh;
    font-size: 30px;
    display: grid;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .active{
    color: red;
}