.assignment4 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    background-color: #4c4c4c;
  }
  
  .container4 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title4 {
    text-align: center;
    margin: 1rem 0;
    color: white;
    font-size: 2rem;
  }
  
  .users4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 1rem;
    color: white;
    gap: 1rem;
  }
  .user4 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #2c2c2c;
    color: white;
    padding: 0.6rem;
    border-radius: 0.6rem;
    transition: all 0.3s;
  }
  .user4:hover {
    background-color: black;
  }
  .user4-name {
    color: yellow;
  }
  .user4-phone {
    color: white;
  }
  .user4-phone:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 992px) {
    .users4 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 768px) {
    .users4 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 600px) {
    .users4 {
      width: 100%;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  