:root {
    /* --border-radius: 0.6rem; */
    --text-color: #fff;
  }
  
  .assignment3 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    background-color: #4c4c4c;
  }
  
  .textarea {
    resize: none;
    height: 5rem;
  }
  
  .task-btn {
    border: none;
    padding: 0.2rem;
    border-radius: 0.6rem;
    transition: all 0.3s;
    background-color: #4c4c4c;
    color: white;
    padding: 0.5rem 0;
  }
  
  .task-btn:hover {
    background-color: orange;
    color: black;
  }
  
  .task-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task-title {
    text-align: center;
    margin: 1rem 0;
    color: white;
    font-size: 2rem;
  }
  
  .card {
    background-color: #2c2c2c;
    padding: 1rem;
    border-radius: 0.6rem;
    width: 25rem;
    max-width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    font-family: fantasy;
  }
  .field-group {
    display: flex;
    flex-direction: column;
  } 
  
  .task-todos {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 1rem;
    color: white;
    gap: 1rem;
  }
  .task-todo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #2c2c2c;
    color: white;
    padding: 0.6rem;
    border-radius: 0.6rem;
  }
  .todo-title {
    color: yellow;
    /* font-family: fantasy; */
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 992px) {
    .task-todos {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 768px) {
    .task-todos {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 600px) {
    .task-todos {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  
  